h1{
width:100%;
background-color:#FEDE72;
color:black;
text-align:center;
margin-bottom:10px;
padding-top:10px;
padding-bottom:10px
}

.recursos{
width:100%;
background-color:#E67E66;

text-align:left;
margin-bottom:20px;
}
#enlace{
text-decoration:none;
color:white;
padding-left:10px
}
.enlace2{
text-decoration:none;


}
ul{
padding-left:40px
}


*{
padding:0px;
margin:0px
}

#contenedor{
width:90%;
height:530px;
margin:auto;
border: 1px solid #FF5F5D;
display:flex;
flex-direction:column;
padding:20px;
line-height:30px
}

.bienvenida{
margin-left:20px;
font-weight:bold;

}
.normal{
margin-left:20px;
}

.imagen{
width:300px;
height:300px;
padding-left:20px;
margin-top:10px;
margin-bottom:10px
}

.imagen2{
width:300px;
height:300px;
margin-top:20px;
margin-bottom:10px
}


#pie{
background-color:#012030;
color:white;
font-family: 'Hubballi';
width:100%;

padding-top:10px;
padding-bottom:10px;
margin-top:10px
}
#cualidades{
display:flex;
flex-direction:column;
padding-left:20px
}

#enlace:hover {
color:black
}
a:hover{
color:green
}
#fila{
display:flex;
flex-direction:row
}
